<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first Lab-assignment (01/25/2022, 50 points in total)**

(1) Write a Python program to count the number of characters in a string. (5 points)

Sample String : 'google.com', 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [28]:
input = 'Rishitha Pingili'
output = {}
for i in input:
  if i in output:
    output[i] += 1
  else:
    output[i] = 1
print ("count of all characters in a string :\n " +  str(output))

count of all characters in a string :
 {'R': 1, 'i': 5, 's': 1, 'h': 2, 't': 1, 'a': 1, ' ': 1, 'P': 1, 'n': 1, 'g': 1, 'l': 1}

(2) Write a Python program to sum all the items in a list. (5 points)

In [30]:
# write your answer here

sum = 0
inputlist= [21,22,24,33,21]
#using for loop to find sum of all elements in list
for i in range(0, len(inputlist)):
    sum = sum + inputlist[i]
print("sum of all items in the given list: ", sum)

sum of all items in the given list:  121

(3) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (5 points)

Sample String : 'restart', 

Expected Result : 'resta\$t'

In [31]:
# write your answer here

input = "rishitha reddy r"
output = input[0]+''
for i in range(1, len(input)):
   
    if(input[i] == input[0]): 
        output += '$'
    else:
        output += input[i]
print(output)

rishitha $eddy $

(4) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (5 points)

In [32]:
import math
def calc(a,b):
  s=math.pi*(1+a/b)**3
  return s
# Print the value of pi
print(calc(1,5))

5.4286721054031615

(5) Write a Python program to concatenate following dictionaries to create a new one. (5 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [33]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
d4={}
#merge using update function in python
for i in (dic1,dic2,dic3):
  dic4.update(i)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(6) Write a Python program to check whether an element exists within a tuple. (5 points)

In [34]:
tuple1=(1,2,3)
element = 2
if element in tuple1:
  print("Element exists in tuple")
else:
  print("Element doesnot exists in tuple")

Element exists in tuple

(7) Write a Python program to find maximum and the minimum value in a set. (5 points)

In [35]:
def MAX(sets):
    return (max(sets))
# used max function to get maximum value in a set
sets = set([11,1.5,2,22,31,15,44])
print(MAX(sets))

def MIN(sets):
    return (min(sets))
#used min function to get minimum value in a set
sets = set([12,46.5,11,28,54,1])
print(MIN(sets))

44
1

(8) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (5 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [36]:
import random
studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313',
                'ak0934','vm0377','nm0618','sm1640',
                'sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
#using partition to divide into groups
def partition(stu_list, n): 
    divide = len(stu_list) / float(n) 
    return [ stu_list[int(round(divide * i)): int(round(divide * (i + 1)))] for i in range(n) ]

partition(studnet_list,6)

[['ja0964', 'sa1198', 'sb1357', 'vb0218', 'sc1229'],
 ['kg0569', 'kg0470', 'sg1297', 'bg0320', 'fh0141'],
 ['jl1252', 'sk1386', 'ak0956', 'sk1390', 'sk1458'],
 ['sk1313', 'ak0934', 'vm0377', 'nm0618', 'sm1640'],
 ['sm1907', 'gn0108', 'pr0353', 'dr0609', 'ms1500'],
 ['aos0040', 'ds0814', 'av0659', 'nv0234', 'hy0232']]

(9) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (5 points)

In [37]:
def duplicates(arr):
    given_array = set()
    output = -1
    for i in range(len(arr)):
        if arr[i] in given_array:
            return arr[i]
        else:
            given_array.add(arr[i])
    return output
#array where there are no duplicate values
print(duplicates([1,2,3,4,5]))
#array where there are duplicate values 
print(duplicates([1,2,3,4,4,5,5,1]))

-1
4

(10) Write a Python program to select all the Sundays of a specified year. (5 extra points)

In [38]:
from datetime import date, timedelta
#used import date ,time functions
def sundays(year):
       date1 = date(year, 1, 1)
       date1 += timedelta(days = 6 - date1.weekday())  
       while date1.year == year:
          yield date1
          date1 += timedelta(days = 7)
          
for sun in sundays(2021):
   print(sun)

2021-01-03
2021-01-10
2021-01-17
2021-01-24
2021-01-31
2021-02-07
2021-02-14
2021-02-21
2021-02-28
2021-03-07
2021-03-14
2021-03-21
2021-03-28
2021-04-04
2021-04-11
2021-04-18
2021-04-25
2021-05-02
2021-05-09
2021-05-16
2021-05-23
2021-05-30
2021-06-06
2021-06-13
2021-06-20
2021-06-27
2021-07-04
2021-07-11
2021-07-18
2021-07-25
2021-08-01
2021-08-08
2021-08-15
2021-08-22
2021-08-29
2021-09-05
2021-09-12
2021-09-19
2021-09-26
2021-10-03
2021-10-10
2021-10-17
2021-10-24
2021-10-31
2021-11-07
2021-11-14
2021-11-21
2021-11-28
2021-12-05
2021-12-12
2021-12-19
2021-12-26