<a href="https://colab.research.google.com/github/RishithaPingili/Rishitha_INFO5502_Spring2022/blob/main/lab_assignment_03_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## The third Lab-assignment (02/10/2022, 50 points in total)

The purpose of this exercise is to understand users' information needs, then collect data from different sources for analysis.

Question 1 (10 points). Fomulate your domain problem: Describe an interesting research question (or practical question) you have in mind, what kind of data should be collected to answer the question(s)? How many data needed for the analysis? The detail steps for collecting and save the data.

In [ ]:
# Your answer here (no code for this question, write down your answer as detail as possible for the above questions):

'''
Please write you answer here:

Domain problem:
Data analysis for various toy prices in flipkart application.

Research question:
To get the original prices in the toys section for atleast 1000 records in the flipkart application.

Data required to answer the question:
Need the data of original prices without any deductions of toys that are obtained through web scraping of flipkart website for atleast 1000 toys.

These data sets can be obtained from the mentioned below link:
https://www.flipkart.com/search?q=toys&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=4

Detailed steps for collecting and saving the data:
1) Import the necessary beautiful soup library in order to parse the html source code of the web page taken.
2) The next step is to inspect the data element in the html code by parsing it.
3) Iterate through few number of pages to get atleast 1000 samples from the respective section.
4) store the obtained MRP's in a list named MRP_list.
5) This list gives the data required , so then data cleaning and analysis can be done as required.


























'''

Question 2 (10 points). Collect your data to answer the research problem: Write python code to collect 1000 data samples you discussed above.

In [24]:
# You code here (Please add comments in the code):

from bs4 import BeautifulSoup
import json
import re
import urllib
from urllib.request import Request, urlopen
from urllib.error import HTTPError

cnt = 0
mrp_list = []
flipkart_link = "https://www.flipkart.com/search?q=toys&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page={}"
for pg in range(1, 190):
    # iterating through 100 pages to get atleast 1000 records
    lnk = Request(flipkart_link.format(pg), headers={'User-Agent': 'Mozilla/5.0'})
    url = urlopen(lnk)

    dataset_1 = url.read()
    dtsoup = BeautifulSoup(dataset_1)

    # to go to the respective MRP price in the link where div class is _3I9_wc which belong to MRP
    for i in dtsoup.find_all('div', attrs = {'class':"_3I9_wc"}):
     
      mrp_list.append(i.text)
      # to make sure to get 1000 samples from the respective url 
      cnt = cnt + 1
      if cnt == 1001:
          break
    #to make sure it breaks the loop after collecting 1000 records.      
    if cnt == 1001:
        break

print(mrp_list)

Total no of samples: 999
['₹2,599', '₹899', '₹699', '₹799', '₹2,399', '₹149', '₹820', '₹1,999', '₹449', '₹999', '₹599', '₹225', '₹999', '₹1,200', '₹720', '₹999', '₹799', '₹1,299', '₹599', '₹2,259', '₹599', '₹899', '₹299', '₹499', '₹999', '₹299', '₹849', '₹175', '₹699', '₹999', '₹999', '₹1,800', '₹1,295', '₹799', '₹999', '₹210', '₹1,499', '₹579', '₹1,599', '₹799', '₹799', '₹699', '₹399', '₹2,599', '₹814', '₹1,000', '₹999', '₹1,999', '₹1,557', '₹249', '₹599', '₹225', '₹499', '₹299', '₹799', '₹2,259', '₹120', '₹1,000', '₹599', '₹999', '₹999', '₹800', '₹499', '₹499', '₹313', '₹799', '₹800', '₹1,800', '₹700', '₹299', '₹225', '₹175', '₹2,999', '₹2,999', '₹599', '₹210', '₹699', '₹599', '₹1,599', '₹799', '₹1,899', '₹599', '₹999', '₹2,599', '₹1,000', '₹1,489', '₹499', '₹1,999', '₹999', '₹990', '₹699', '₹225', '₹1,099', '₹425', '₹1,299', '₹999', '₹1,599', '₹499', '₹280', '₹2,259', '₹1,999', '₹499', '₹499', '₹499', '₹749', '₹500', '₹699', '₹1,800', '₹1,299', '₹599', '₹791', '₹175', '₹1,499', '₹305', '₹199', '₹210', '₹699', '₹1,000', '₹599', '₹799', '₹600', '₹699', '₹499', '₹2,599', '₹900', '₹849', '₹1,699', '₹1,999', '₹2,199', '₹499', '₹499', '₹2,499', '₹199', '₹3,999', '₹999', '₹2,259', '₹699', '₹1,999', '₹899', '₹999', '₹999', '₹1,699', '₹499', '₹499', '₹1,299', '₹499', '₹599', '₹175', '₹999', '₹899', '₹1,599', '₹1,800', '₹1,000', '₹149', '₹449', '₹210', '₹2,499', '₹699', '₹4,499', '₹799', '₹1,576', '₹495', '₹999', '₹1,999', '₹325', '₹1,399', '₹800', '₹225', '₹999', '₹120', '₹999', '₹2,499', '₹299', '₹499', '₹2,599', '₹2,259', '₹2,499', '₹2,999', '₹889', '₹999', '₹499', '₹499', '₹1,449', '₹499', '₹499', '₹977', '₹5,099', '₹175', '₹179', '₹599', '₹1,099', '₹1,800', '₹349', '₹199', '₹199', '₹210', '₹499', '₹599', '₹4,099', '₹799', '₹499', '₹599', '₹999', '₹225', '₹799', '₹499', '₹13,450', '₹999', '₹19,990', '₹599', '₹99', '₹499', '₹2,599', '₹799', '₹1,299', '₹2,259', '₹958', '₹299', '₹3,499', '₹2,399', '₹1,499', '₹799', '₹99', '₹175', '₹1,250', '₹499', '₹1,250', '₹210', '₹349', '₹400', '₹899', '₹3,999', '₹999', '₹380', '₹1,999', '₹1,199', '₹1,399', '₹1,299', '₹549', '₹599', '₹1,299', '₹1,399', '₹999', '₹2,599', '₹1,999', '₹199', '₹1,499', '₹1,999', '₹939', '₹1,299', '₹1,249', '₹225', '₹977', '₹999', '₹999', '₹999', '₹199', '₹477', '₹2,499', '₹499', '₹2,199', '₹1,999', '₹999', '₹175', '₹499', '₹1,399', '₹1,299', '₹1,800', '₹499', '₹2,699', '₹599', '₹210', '₹350', '₹1,949', '₹348', '₹799', '₹999', '₹2,070', '₹3,199', '₹999', '₹999', '₹360', '₹1,299', '₹1,999', '₹299', '₹9,999', '₹249', '₹225', '₹999', '₹499', '₹1,799', '₹999', '₹399', '₹299', '₹1,199', '₹175', '₹1,000', '₹599', '₹999', '₹210', '₹1,599', '₹800', '₹500', '₹1,800', '₹600', '₹999', '₹599', '₹799', '₹399', '₹1,999', '₹699', '₹999', '₹1,299', '₹999', '₹2,999', '₹1,199', '₹2,499', '₹799', '₹999', '₹999', '₹360', '₹299', '₹1,299', '₹2,599', '₹499', '₹1,456', '₹225', '₹225', '₹389', '₹799', '₹399', '₹999', '₹499', '₹249', '₹999', '₹2,399', '₹299', '₹1,799', '₹1,199', '₹175', '₹1,000', '₹1,499', '₹699', '₹3,999', '₹2,999', '₹999', '₹1,299', '₹210', '₹1,000', '₹799', '₹2,499', '₹1,199', '₹999', '₹699', '₹599', '₹599', '₹600', '₹999', '₹399', '₹999', '₹599', '₹499', '₹1,499', '₹1,999', '₹999', '₹5,099', '₹1,899', '₹225', '₹999', '₹700', '₹349', '₹2,499', '₹599', '₹999', '₹649', '₹999', '₹2,699', '₹999', '₹2,500', '₹499', '₹1,999', '₹799', '₹499', '₹175', '₹499', '₹999', '₹1,299', '₹210', '₹600', '₹2,999', '₹899', '₹1,800', '₹120', '₹9,999', '₹599', '₹799', '₹285', '₹1,093', '₹1,299', '₹1,199', '₹399', '₹499', '₹499', '₹2,599', '₹1,999', '₹999', '₹999', '₹1,999', '₹999', '₹1,299', '₹799', '₹225', '₹599', '₹999', '₹1,299', '₹999', '₹1,000', '₹395', '₹2,999', '₹499', '₹3,999', '₹999', '₹1,200', '₹1,800', '₹1,500', '₹1,999', '₹799', '₹210', '₹499', '₹2,999', '₹999', '₹799', '₹1,299', '₹999', '₹599', '₹999', '₹999', '₹499', '₹2,299', '₹1,199', '₹499', '₹899', '₹1,999', '₹2,599', '₹900', '₹499', '₹600', '₹1,999', '₹500', '₹999', '₹1,399', '₹225', '₹1,299', '₹490', '₹1,999', '₹2,499', '₹799', '₹1,499', '₹2,070', '₹999', '₹1,499', '₹1,099', '₹500', '₹499', '₹799', '₹599', '₹899', '₹175', '₹799', '₹499', '₹399', '₹210', '₹499', '₹999', '₹599', '₹1,800', '₹999', '₹499', '₹699', '₹799', '₹599', '₹599', '₹899', '₹1,999', '₹697', '₹1,949', '₹1,999', '₹225', '₹999', '₹1,999', '₹899', '₹999', '₹999', '₹499', '₹499', '₹2,259', '₹499', '₹999', '₹500', '₹499', '₹999', '₹499', '₹1,199', '₹1,800', '₹1,200', '₹7,999', '₹1,999', '₹175', '₹900', '₹449', '₹699', '₹210', '₹499', '₹499', '₹2,441', '₹799', '₹599', '₹899', '₹2,999', '₹999', '₹999', '₹599', '₹999', '₹2,599', '₹699', '₹799', '₹200', '₹225', '₹599', '₹1,000', '₹1,299', '₹999', '₹599', '₹600', '₹799', '₹499', '₹999', '₹1,199', '₹2,499', '₹2,259', '₹1,189', '₹1,499', '₹1,277', '₹2,399', '₹999', '₹799', '₹999', '₹175', '₹1,099', '₹499', '₹999', '₹3,999', '₹999', '₹1,225', '₹1,499', '₹210', '₹3,999', '₹549', '₹1,499', '₹1,199', '₹1,499', '₹3,999', '₹549', '₹2,599', '₹699', '₹499', '₹1,099', '₹1,999', '₹1,299', '₹200', '₹499', '₹225', '₹599', '₹399', '₹999', '₹999', '₹1,999', '₹999', '₹599', '₹2,259', '₹1,599', '₹1,100', '₹1,499', '₹1,800', '₹999', '₹999', '₹1,000', '₹499', '₹1,199', '₹999', '₹399', '₹175', '₹3,399', '₹999', '₹999', '₹210', '₹1,007', '₹1,420', '₹399', '₹799', '₹899', '₹899', '₹400', '₹225', '₹499', '₹1,799', '₹699', '₹999', '₹999', '₹2,999', '₹999', '₹499', '₹598', '₹799', '₹2,399', '₹999', '₹1,599', '₹900', '₹3,999', '₹1,299', '₹1,399', '₹499', '₹175', '₹431', '₹999', '₹316', '₹210', '₹7,499', '₹360', '₹900', '₹1,199', '₹400', '₹1,274', '₹199', '₹999', '₹5,000', '₹799', '₹1,299', '₹599', '₹2,899', '₹733', '₹999', '₹1,999', '₹999', '₹900', '₹999', '₹225', '₹399', '₹999', '₹999', '₹1,800', '₹999', '₹499', '₹2,999', '₹499', '₹700', '₹699', '₹699', '₹999', '₹560', '₹699', '₹999', '₹175', '₹1,999', '₹699', '₹1,999', '₹210', '₹649', '₹1,999', '₹149', '₹799', '₹200', '₹499', '₹1,599', '₹2,499', '₹400', '₹1,298', '₹1,899', '₹1,199', '₹270', '₹799', '₹599', '₹2,599', '₹699', '₹599', '₹499', '₹1,999', '₹600', '₹1,999', '₹1,499', '₹225', '₹999', '₹999', '₹399', '₹2,499', '₹999', '₹250', '₹2,999', '₹999', '₹800', '₹499', '₹999', '₹2,259', '₹1,000', '₹999', '₹999', '₹499', '₹15,990', '₹1,898', '₹499', '₹1,800', '₹499', '₹549', '₹477', '₹175', '₹1,549', '₹499', '₹499', '₹999', '₹733', '₹999', '₹999', '₹1,999', '₹899', '₹399', '₹1,999', '₹225', '₹149', '₹649', '₹1,999', '₹1,800', '₹999', '₹1,999', '₹399', '₹499', '₹999', '₹999', '₹200', '₹999', '₹499', '₹400', '₹1,599', '₹175', '₹1,298', '₹1,499', '₹299', '₹210', '₹1,899', '₹799', '₹999', '₹799', '₹1,099', '₹999', '₹799', '₹2,499', '₹899', '₹699', '₹1,999', '₹1,199', '₹699', '₹599', '₹633', '₹2,599', '₹599', '₹999', '₹2,999', '₹1,999', '₹800', '₹999', '₹1,499', '₹2,499', '₹250', '₹999', '₹499', '₹225', '₹1,000', '₹1,299', '₹700', '₹999', '₹1,299', '₹999', '₹499', '₹2,259', '₹999', '₹499', '₹1,898', '₹1,800', '₹15,990', '₹796', '₹270', '₹499', '₹599', '₹799', '₹599', '₹175', '₹200', '₹1,599', '₹1,199', '₹999', '₹549', '₹499', '₹399', '₹1,999', '₹399', '₹999', '₹989', '₹999', '₹899', '₹999', '₹699', '₹2,499', '₹999', '₹499', '₹1,999', '₹225', '₹1,999', '₹1,200', '₹1,324', '₹2,259', '₹1,299', '₹799', '₹899', '₹499', '₹999', '₹499', '₹799', '₹799', '₹499', '₹499', '₹1,299', '₹1,800', '₹2,999', '₹1,299', '₹899', '₹210', '₹599', '₹2,999', '₹999', '₹999', '₹207', '₹599', '₹199', '₹999', '₹1,999', '₹2,999', '₹600', '₹225', '₹1,299', '₹285', '₹279', '₹499', '₹699', '₹999', '₹2,999', '₹2,399', '₹2,999', '₹599', '₹999', '₹3,999', '₹899', '₹1,299', '₹699', '₹175', '₹2,499', '₹1,099', '₹800', '₹210', '₹999', '₹499', '₹499', '₹999', '₹899', '₹999', '₹399', '₹1,199', '₹2,499', '₹899', '₹499', '₹599', '₹999', '₹1,999', '₹1,499', '₹1,999', '₹899', '₹599', '₹1,598', '₹2,499', '₹187', '₹1,346', '₹899', '₹225', '₹1,299', '₹999', '₹3,999', '₹999', '₹699', '₹999', '₹1,499', '₹1,800', '₹899', '₹399', '₹1,499', '₹499', '₹999', '₹600', '₹18,999', '₹175', '₹1,999', '₹1,000', '₹984', '₹999', '₹600', '₹1,999', '₹175', '₹210', '₹1,499', '₹799', '₹2,199', '₹2,499', '₹500', '₹2,499', '₹2,499', '₹1,999', '₹599', '₹999', '₹1,499', '₹225', '₹699', '₹7,499', '₹1,299', '₹999', '₹999', '₹2,499', '₹500', '₹499', '₹200', '₹1,299', '₹999', '₹1,800', '₹499', '₹699', '₹379', '₹175', '₹399', '₹496', '₹299', '₹210', '₹2,999', '₹799', '₹999', '₹999', '₹549', '₹1,999', '₹2,499', '₹799', '₹899', '₹4,999', '₹499', '₹2,499', '₹399', '₹693', '₹1,299', '₹999', '₹999', '₹1,899', '₹1,299', '₹225', '₹299', '₹1,999', '₹749', '₹499', '₹599', '₹1,399', '₹2,099', '₹2,399', '₹3,800', '₹2,999', '₹324', '₹3,999', '₹699', '₹599', '₹2,999', '₹175', '₹1,499', '₹999', '₹799', '₹210', '₹599', '₹324', '₹3,499', '₹999', '₹399', '₹1,549', '₹324', '₹1,199', '₹1,499', '₹999', '₹199', '₹599']

Question 3 (10 points). Understand the data quality: Search a second hand dataset (any dataset) from kaggle or other websites. Describe the data quality problem of the dataset and explain your strtegy to clean the data.

In [ ]:
# Your answer here (no code for this question, write down your answer as detail as possible for the above questions):
'''

Please write you answer here:

Dataset selected : NFL Play by Play 2009-2016 (v3).csv from kaggle.com

The dataset selected consists of multiple missing values in many of the fields, so data cleaning is required in this data set.
By observing the data set , we can observe that the column has information on the number of seconds left in the game when the play was made. 
So there might be a chance that these value are missing because they were not recorded or they doesnt exist.

Strategy to clean the data:
First common strategy is to 
1) Try to find the percentage of missing values in the dataset.
2) If the percentage of missing values is around 10% , delete the rows with the missing columns but if there are more missing values 
then there is a chance of many rows getting deleted.
3) If the percentage is more, then replace the missing values either with a constant value or mean/median if the data size is small.
4) There is also another way which is to replace it with values by using information based on other columns.






'''

Question 4 (20 points). Data cleaning: There are two datasets TwADR-L (from Twitter) and AskAPatient (Link: https://zenodo.org/record/55013#.YgU2NN-ZO4T) for medical concept
normalization. However, the two datasets have serious data quality problems. Please read the introduction of the datasets and clean the two datasets by following the steps in the statement.

In the original dataset, the TwADR-L had 48,057 training, 1,256 validation and 1,427 test examples. The test set (all
test samples from 10 folds combined) consists of 765 unique phrases and 273 unique classes (medical concepts). The AskAPatient dataset contained 156,652 training, 7,926 validation, and 8,662 test examples. The entire test set (all test samples
from 10 folds combined) consists of 3,749 unique phrases and 1,035 unique classes (medical concepts). The authors
randomly split each dataset into ten equal folds, ran 10-fold cross validation and reported the accuracy averaged across the
ten folds. 

We found that, in the original data set, many phrase-label pairs appeared multiple times within the same training data file
and also across the training and test data sets in the same fold. In the AskAPatient data set, on average 35.82% of the test data overlapped with training data in the same fold. In the Twitter (TwADR-L) dataset, on average 8.62% of the test set had an overlap with the training data in the same fold. Having a large overlap between the training and the test data can potentially
introduce bias in the model and contribute to high accuracy. It is not unlikely that the high model performance reported in the original paper may be triggered by the the large overlap between the training and test sets.

Therefore to remove the bias, we further cleaned and recreated the training, validation, and test sets such that each
phrase-label pair appears only once in the entire dataset (either in training, validation or test set).

(1) First, we combined all examples in training, validation and test data from the original data set and then removed all
duplicate phrase-label pairs (examples that have the same phrase and label pair and appear more than once in training/validation/test datasets). Table II shows the statistics of the new dataset (after removing duplicates). The Twitter data set had 3,157 unique phrase-label pairs and 2,220 unique labels (medical concepts) while 173 phrases had multiple labels (i.e., they were assigned to more than one label). Many concepts had only one example, and the concept that had the most number
of examples had 36 phrases. On average, each concept had 1.42 examples. The AskAPatient data set had 4,496 unique phrase-label pairs, 1,036 unique labels while 26 phrases had multiple labels. Table III shows examples of phrases that had multiple labels. For example, ‘mad’ can be mapped to ‘anger’ or ‘rage’ and ‘sore’ can be mapped to ‘pain’ or ‘myalgia’.

(2) Second, we remove all concepts that had less than five examples. The statistics of the final data are shown in Table IV.

(3) Third, we divide all examples without multiple labels into random 10 folds such that each unique phrase-label pair
appears once in one of the 10 test sets. We add the pairs with multiple labels into the training data. This final 10-folds
dataset is used in all our experiments.

(The original paper can be download on canvas)

In [9]:
#mounting google drive memory to upload the data folder
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [22]:
# You code here (Please add comments in the code):

# 1.) output
import pandas as pd
import glob
out_df =  pd.DataFrame() 
for dataset in ['TwADR-L', 'AskAPatient']:
  output = {}
  data_df = pd.DataFrame()
  for path in glob.glob('/content/gdrive/My Drive/datasets/{}/*.txt'.format(dataset)):
    dt = pd.read_csv(path, sep = "\t", header = None, encoding= 'unicode_escape')
    data_df = data_df.append(dt)
  data_df = data_df.reset_index(drop=True)
  data_df['phrase_label'] = data_df[1] + " " + data_df[2]
  data_df.columns = ['id', 'labels', 'phrases', 'phrase-label']
  data_df = data_df.astype({"id": str})
  for col in data_df.columns:
      data_df[col] = data_df[col].str.lower() 

  data_df = data_df.drop_duplicates('phrase-label')

  # storing output of the values in form of dictionary and then giving it to dataframe
  output['Unique Phrases'] = len(data_df['phrases'].unique())
  output['Unique Labels'] = len(data_df['labels'].unique())
  output['Unique phrase_label pairs'] = data_df.shape[0]
  data_df1 = pd.DataFrame(data_df['phrases'].value_counts())
  output['Phrases with multiple labels'] = data_df1[data_df1['phrases'] > 1].shape[0]
  output['Min examples per label'] = data_df['labels'].value_counts().values.min()
  output['Max examples per label'] = data_df['labels'].value_counts().values.max()
  output['Avg examples per label'] = round(data_df['labels'].value_counts().mean(), 2)
  out_df = out_df.append(output, ignore_index=True)


out_df = out_df.T
out_df.columns = ['TwADR-L', 'AskAPatient']

out_df

                              TwADR-L  AskAPatient
Unique Phrases                2944.00      4470.00
Unique Labels                 2220.00      1038.00
Unique phrase_label pairs     3157.00      4507.00
Phrases with multiple labels   173.00        35.00
Min examples per label           1.00         1.00
Max examples per label          36.00       141.00
Avg examples per label           1.42         4.34

In [21]:
# 2.)
import pandas as pd
import glob
out_df1 = pd.DataFrame()
for dataset in ['TwADR-L', 'AskAPatient']:
    data_df1 = pd.DataFrame()
    output = {}
    for path1 in glob.glob('/content/gdrive/My Drive/datasets/{}/*.txt'.format(dataset)):
        dt = pd.read_csv(path1, sep = "\t", header = None, encoding= 'unicode_escape')
        data_df1 = data_df1.append(dt)
    data_df1 = data_df1.reset_index(drop=True)
    data_df1['phrase_label'] = data_df1[1] + " " + data_df1[2]
    data_df1.columns = ['id', 'labels', 'phrases', 'phrase-label']
    data_df1 = data_df1.astype({"id": str})
    # converting the values to lower case
    for colmn in data_df1.columns:
        data_df1[colmn] = data_df1[colmn].str.lower() 

    # inbuilt drop duplictes function is being used to avoid duplicates
    data_df1 = data_df1.drop_duplicates('phrase-label')

    index_list = []
    for i in range(data_df1.shape[0]):
        if data_df1['labels'].value_counts()[data_df1.iloc[i]['labels']] < 5:
            index_list.append(i)
    data_df1.drop(data_df1.index[index_list], inplace=True)
    output = {}
    output['Unique phrases'] = len(data_df1['phrases'].unique())
    output['Unique labels'] = len(data_df1['labels'].unique())
    output['Unique phrase_label pairs'] = data_df1.shape[0]
    data_df11 = pd.DataFrame(data_df1['phrases'].value_counts())
    output['Phrases with multiple labels'] = data_df11[data_df11['phrases'] > 1].shape[0]
    output['Min examples per label'] = data_df1['labels'].value_counts().values.min()
    output['Max examples per label'] = data_df1['labels'].value_counts().values.max()
    output['Avg examples per label'] = round(data_df1['labels'].value_counts().mean(), 2)
    out_df1 = out_df1.append(output, ignore_index=True)

out_df1 = out_df1.T
out_df1.columns = ['TwADR-L', 'AskAPatient']

out_df1

                              TwADR-L  AskAPatient
Unique phrases                 616.00      2665.00
Unique labels                   76.00       233.00
Unique phrase_label pairs      721.00      2686.00
Phrases with multiple labels    87.00        19.00
Min examples per label           5.00         5.00
Max examples per label          36.00       141.00
Avg examples per label           9.49        11.53